*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 10px;
    background-color: rgb(229, 226, 226);
    padding: 10px;
}

 /* Gallery */
.gallery img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
/* Image hover */
img:hover{
  transform: scale(0.9);
}
#caption {
   color: white;
   margin-top: 10px;
   font-size: 18px;
  }
/* Popup Modal */
.popup {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  text-align: center;
  z-index: 1000;
}

.popup img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}
.popup img:hover { 
  transform: none;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev { left: 20px; }
.next { right: 20px; }

/* Background blur effect */
body.modal-open .gallery {
  opacity: 0.5;
}
